# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\javaStudy\javaStudy\again\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
